.App {
  text-align: center;
}


.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap:10px;
  width:30%;
  margin:auto;
  text-align:center;
  font-size:20px;
  font-weight:bold;
}
.drum-pad {
  background:#5e2d9b;
  padding-top:30px;
  height:90px;
  border-radius:5%;
  color:#efeded;
  
}
.drum-pad:hover{
  background:#8745d8;
  cursor:pointer;
}

.drum-pad:active{
  background:#7613ef;
  transform:translate(5px, 5px);
  box-shadow:-3px -3px 5px black;
}

p {
  border:5px solid green;
  width:20%;
  height:20px;
  margin:auto;
  margin-top:20px;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/